In [2]:
import  sqlite3

In [45]:
conn = sqlite3.connect ('autoData.db')
cursor = conn.cursor()

query = '''
CREATE TABLE automobiliai(
    markė varchar, 
    modelis varchar, 
    spalva varchar, 
    pagaminimo_metai integer, 
    kaina integer);
'''
cursor.execute(query)
conn.commit()

Rename Column

In [42]:
cursor.execute
(
"ALTER TABLE automobiliai RENAME COLUMN spalvas TO spalva;"
)

'ALTER TABLE automobiliai RENAME COLUMN spalvas TO spalva;'

Rename Table

In [27]:
cursor.execute
(
"ALTER TABLE salesman RENAME to automobiliai;"
)

'ALTER TABLE salesman RENAME to automobiliai;'

In [3]:
conn = sqlite3.connect ('autoData.db')
cursor = conn.cursor()

markė = input('Įveskite automobilio markę:')
modelis = input('Įveskite automobilio modelį:')
spalva = input('Įveskite spalvą:')
pagaminimo_metai = input('Įveskite pagaminimo metus:')
kaina = input('Įveskite automobilio kainą: ')
cursor.execute("""
INSERT INTO automobiliai(markė, modelis, spalva, pagaminimo_metai, kaina)
VALUES (?,?,?,?,?)
""", (markė, modelis, spalva, pagaminimo_metai, kaina))
conn.commit ()
print ( 'Duomenys įvesti teisingai.' )
conn.close ()
if (conn):
  conn.close()
  print("\nSQLite jungtis uždaryta.")

Duomenys įvesti teisingai.

SQLite jungtis uždaryta.

Dinaminės užklausos

In [5]:
conn = sqlite3.connect('autoData.db')
c = conn.cursor()

paieška_markė = input("Ieskokite pagal marke: ")
with conn:
    c.execute(f"SELECT * FROM automobiliai WHERE markė = '{paieška_markė}'")
    res = c.fetchall()

if res:
    print(res)
else:
    print("Nėra tokios markės!")

Nėra tokios markės!